@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body, html {
    background-color: rgb(76, 64, 162);
}

header{

    background-color: rgb(76, 64, 162);
}

header, h1{
    text-align: center;
}

#menu {
    background-color: darkslategrey;
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    cursor: pointer;

}

#menu:hover {

    background-color: white;
    color: black;
}

#Lista{
    display: none;
    width: 100vw;
    background-color: rgb(19, 36, 61);
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10;
}

#artigo{
    display: block;
    width: 90vw;
    background-color: rgb(19, 36, 61);
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10;
}

main, h1 {
    list-style-type: none;
}

main > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgba(43, 11, 94, 0.72);
    color: rgb(0, 0, 0);
    border-top: 1px solid gray;
}

main > ul > li > a:hover {
    background-color: rgb(47, 0, 255);
}

article > h2 {
    padding-bottom: 20px;
    text-align: center;
}

article > p {
    text-align: center;
    margin-bottom: 20px;
    text-indent: 20px;
}
