@charset "UTF-8";

.container {
  display: grid;
  grid-template-rows: repeat(3, 100px);
  grid-template-columns: repeat(4, 1fr);
}

    .caixa1 {
        background-color: #ff0000;
        grid-area: 1/1/2/5;
    }
    .caixa2 {
        background-color: #00ff00;
        grid-area: 2/1/4/3;
    }
    .caixa3 {
        background-color: #0000ff;
        grid-area: 2/3/4/5;
    }